{% extends 'core/base.html' %}

{% block content %}
    <!-- Hero Section -->
    {% include 'core/partials/_hero.html' %}

    <!-- Specialties Section -->
    {% include 'core/partials/_services.html' %}

    <!-- Tech Stack Section (Yahan add kar diya hai) -->
    {% include 'core/partials/_tech.html' %}

    <!-- Projects Section -->
    {% include 'core/partials/_projects.html' %}

    <!-- Credentials Section -->
    {% include 'core/partials/_credentials.html' %}

    <!-- Contact Section -->
    {% include 'core/partials/_contact.html' %}
{% endblock %}